<div>
  <h2>Nutzungsbedingungen und Datenverwendungshinweise f&uuml;r den Pilotbetrieb der LMUcard f&uuml;r Besch&auml;ftige (Dienstausweis)</h2>
  <h3>Hinweise zur Pilotbetrieb</h3>
  <p>Im Rahmen des Pilotbetriebs wird die Ausstellung und Nutzung der LMUcard f&uuml;r Besch&auml;ftigte erprobt. Die ausgestellte LMUcard hat grunds&auml;tzlich vollen Funktionsumfang,
    m&ouml;gliche Einschr&auml;nkungen in der Nutzung sind allerdings nicht ausgeschlossen. Der Pilotbetrieb wird durch einen entsprechenden Hinweis auf dem Validierungsstreifen (s.u.) auf der
    Karte sichtbar gemacht.</p>
  <p>Es ist geplant, dass die Karte nach Abschluss des Pilotbetriebs beim Karteninhaber verbleibt und nach erneuter Validierung (s.u.) regul&auml;r weitergenutzt werden kann.</p>
  <p>Die folgenden Nutzungsbedingungen und Datenverwendungshinweise befinden sich noch im Aufbau und sind noch nicht abschlie&szlig;end durch den Datenschutzbeauftragten der LMU gepr&uuml;ft.</p>
  <p>Wir freuen uns &uuml;ber Feedback zur Nutzung der Karte. Bitte teilen Sie uns Ihre Erfahrungen mit: it-servicedesk@lmu.de</p>
  <h3>Allgemeine Hinweise zur LMUcard f&uuml;r Besch&auml;ftigte (Dienstausweis)</h3>
  <p>Die LMUcard f&uuml;r Besch&auml;ftigte (Dienstausweis) ist eine multifunktionale Chipkarte mit folgenden Funktionen:</p>
  <ul>
    <li>Dienstausweis</li>
    <li>Bibliotheksausweis f&uuml;r die Universit&auml;tsbibliothek und die Bayerische Staatsbibliothek</li>
    <li>Bargeldloses Bezahlen in den Gastronomiebetrieben des Studentenwerks</li>
  </ul>
  <p>Die Karte enth&auml;lt einen wiederbeschreibbaren Validierungsstreifen, auf dem das G&uuml;ltigkeitsdatum vermerkt ist. Zur Aktualisierung der G&uuml;ltigkeit muss die LMUcard von den
    Karteninhabern validiert werden. Hinweise hierzu und zu den weiteren Funktionen der LMUcard werden unter www.lmu.de/lmucard/dienstausweis im Serviceportal der LMU ver&ouml;ffentlicht.</p>
  <h3>Rechtliche Grundlagen</h3>
  <p>Rechtsgrundlage f&uuml;r den Dienstausweis ist &sect;35 BayAGO, Rechtsgrundlage f&uuml;r die Nutzung als Bibliotheksausweis ist die Allgemeine Ben&uuml;tzungsordnung der Bayerischen
    Staatlichen Bibliotheken (BayABOB).</p>
  <h3>Gespeicherte Daten</h3>
  <p>Um die Funktionen der LMUcard zu erm&ouml;glichen, sind folgende Daten auf der Karte aufgebracht:</p>
  <ul>
    <li>Foto</li>
    <li>Akad. Titel</li>
    <li>Name, Vorname</li>
    <li>Kartennummer</li>
    <li>ID-Nr. Studentenwerk</li>
    <li>Bibliotheksnummer</li>
    <li>G&uuml;ltig-Bis-Datum</li>
  </ul>
  <p>Auf der Karte befindet sich ein RFID-Chip mit Datenspeicher, auf dem folgende Merkmale in unterschiedlichen Segmenten gespeichert sind:</p>
  <ul>
    <li>Personalnummer</li>
    <li>Kartentyp (bei Dienstausweis immer &bdquo;Mitarbeiter&ldquo;)</li>
    <li>Kartennummer</li>
    <li>G&uuml;ltig-Bis-Datum</li>
    <li>eduPersonPrincipalName (LMU-ID@lmu.de)</li>
  </ul>
  <p>Die gespeicherten Daten sind zugriffsgesch&uuml;tzt und k&ouml;nnen nur mit entsprechend konfigurierten Lesern ausgelesen werden. Die Nutzung der gespeicherten Daten unterliegt den
    einschl&auml;gigen rechtlichen Vorgaben, insbes. des Datenschutzes.</p>
  <p>Im Rahmen der LMUcard-Verwaltung werden folgende Daten auf Servern des Dezernats VI gespeichert:</p>
  <ul>
    <li>Daten zu beantragten Karten (Datum des Antrags und o.g. Daten)</li>
    <li>Daten zu bereits ausgestellten Karten</li>
  </ul>
  <h3>Einwilligung in Daten&uuml;bermittlung</h3>
  <p>Um die Funktionen der LMUcard zu erm&ouml;glichen, werden folgende Daten &uuml;bermittelt:</p>
  <ul>
    <li>Die Universit&auml;tsbibliothek erh&auml;lt folgende Daten des Karteninhabers: Name, Vorname, Kartennummer, Bibliotheksnummer, g&uuml;ltig-bis-Datum, Dienstadresse Die
      Universit&auml;tsbibliothek stellt diese Daten der Bayerischen Staatsbibliothek zu Verf&uuml;gung. Im Falle eines Mahnverfahrens wird der Universit&auml;tsbibliothek sowie der Bayerischen
      Staatsbibliothek auf Anfrage die Privatanschrift &uuml;bermittelt.</li>
    <li>Das Studentenwerk erh&auml;lt folgende Daten des Karteninhabers: Kartennummer, Kartentyp (&bdquo;Mitarbeiter&ldquo;), g&uuml;ltig-bis-Datum</li>
  </ul>
  <h3>Dauer der Speicherung der personenbezogenen Daten</h3>
  <p>Die gespeicherten Daten werden nach Ende des Besch&auml;ftigungsverh&auml;ltnisses unter Einhaltung gesetzlicher L&ouml;schfristen gel&ouml;scht.</p>
  <h3>R&uuml;ckgabe der Karte</h3>
  <p>Gem&auml;&szlig; &sect;35 BayAGO sind die Besch&auml;ftigen verpflichtet, den Dienstausweis bei Beendigung des Besch&auml;ftigungsverh&auml;ltnisses zur&uuml;ckzugeben.</p>
  <h3>Geb&uuml;hren</h3>
  <p>Die Ausstellung der LMUcard ist kostenlos. F&uuml;r die Ausstellung einer Ersatzkarte (bspw. bei Verlust) wird zuk&uuml;nftig u.U. eine Bearbeitungsgeb&uuml;hr erhoben.</p>
  <h3>Ansprechpartner und Kontakt</h3>
  <h4>Verantwortlich:</h4>
  <p>Ludwig-Maximilians-Universit&auml;t M&uuml;nchen<br /> Dezernat VI &ndash; Informations- und Kommunikationstechnik<br /> Dr. Oliver Diekamp<br /> Geschwister-Scholl-Platz 1<br /> 80539
    M&uuml;nchen<br /> VI@verwaltung.uni-muenchen.de</p>
  <h4>Kontaktdaten des beh&ouml;rdlichen Datenschutzbeauftragten der LMU</h4>
  <p>Herr Dr.jur. Rolf Gemmeke<br /> Ludwig-Maximilians-Universit&auml;t M&uuml;nchen<br /> - Beh&ouml;rdlicher Datenschutzbeauftragter -<br /> Geschwister-Scholl-Platz 1<br /> 80539 M&uuml;nchen<br />
    datenschutz@verwaltung.uni-muenchen.de</p>
  <h4>Allg. Fragen und Support:</h4>
  <p>Ludwig-Maximilians-Universit&auml;t M&uuml;nchen<br /> Dezernat VI &ndash; Informations- und Kommunikationstechnik<br /> IT-Servicedesk<br /> it-servicedesk@lmu.de</p>
  <h3>Datenschutzrechtliche Erkl&auml;rung</h3>
  <p>Ich habe die Nutzungsbedingungen und Datenverwendungshinweise zur Kenntnis genommen und bin mit deren Geltung einverstanden.</p>
</div>
